@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Share+Tech+Mono&family=Special+Gothic+Expanded+One&display=swap');

/* ==== Global Styles ==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto Mono", monospace;
}

:root {
    --color-black: #000;
    --color-text: #fff;
    --primary-color: #030266;
    --secondary-color: rgb(0, 131, 207);
    --light-color: rgb(53, 209, 248);
    --light-color-secondary: rgb(119, 236, 252);
    --bg-color: #050022;
    --border-color: #010016;

    --glass-color: #6b6b6b15;
}

.hero {
    position: relative;
    height: 100vh;
    /* Ajusta la altura de la sección, vh significa viewport height */
    width: 100%;
    overflow: hidden;
    /* Evita que el video se salga de los límites */
    display: flex;
    flex-direction: column;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Esto es clave para que el video se ajuste y cubra toda la sección sin distorsionarse. */
    z-index: -1;
    /* Envía el video al fondo, detrás del contenido */
}

/* ==== Styles ==== */

.hero {
    height: 120vh;
}

/* ==== Header Styles ==== */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;

    backdrop-filter: blur(75px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.781);
}

header .logo {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-text);
    cursor: pointer;
    transition: all 0.3s ease;
}

header .logo:hover {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.3),
        0 0 30px rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

header .nav {
    display: flex;
    gap: 2rem;
    display: flex;
    align-items: center;
}

header .nav a {
    color: var(--color-text);
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.3s ease;
}

header .nav a:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
    color: var(--secondary-color);
}

header .nav .btn-register {
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    border: 1px solid transparent;
    background-color: var(--secondary-color);
    color: var(--color-text);
    font-weight: 600;
    transition: all 0.3s ease;
}

header .nav .btn-register:hover {
    background-color: var(--color-text);
    color: var(--color-text);
    border: 1px solid transparent;
    transform: scale(1.1);
}

header .menu-toggle {
    display: none;
}

/* ==== Container Hero ==== */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0 2rem;
}

.hero-content {
    text-align: left;
    max-width: 50%;
    padding: 8rem 3rem;
    border-radius: 25px;
}

.hero-content .hero-title {
    font-size: 2.8rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.3),
        0 0 30px rgba(255, 255, 255, 0.2);
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 0.2rem;
}

.hero-content .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 500;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.3),
        0 0 30px rgba(255, 255, 255, 0.2);
    color: var(--color-text);
    margin-bottom: 0.5rem;
}

.hero-content .hero-text {
    color: var(--color-text);
    font-size: 1.1rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.3),
        0 0 30px rgba(255, 255, 255, 0.2);
    margin-bottom: 2rem;
}

.hero-content .btn-cta,
.btn-register {
    padding: 0.7rem 4rem;
    border-radius: 5px;
    color: var(--color-text);
    box-shadow: 0 15px 20px var(--border-color);
    font-weight: 600;
    font-size: 1.5rem;
    text-decoration: none;
    transition: all 0.6s ease;

    background: linear-gradient(270deg, var(--bg-color), var(--secondary-color), var(--primary-color), var(--secondary-color));
    background-size: 300% 300%;
    animation: gradientAnimation 4s ease infinite;
    box-shadow: 0 15px 20px var(--border-color);
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.hero-content .btn-cta:hover {
    background: var(--light-color);
    color: var(--color-text);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
        0 0 20px rgba(255, 255, 255, 0.3),
        0 0 30px rgba(255, 255, 255, 0.2);
    transition: all 0.6s ease;
    transform: scale(1.1);
}